/**********************
    GENERAL STYLES 
**********************/
body {
	background-color: #282827;
}

#wrapper {
	width: 940px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background: white;
}

/**********************
    PAGE: Homepage
**********************/
#WebDev, 
#CompRepairs,
#MobRepairs,
#Shop {
	float : left;
	width : 23%;
	margin : 1%;
	background-color: #fff;
	color: #000;
	text-align: center;
	height: 780px;
}

#WebDev ul, 
#CompRepairs ul,
#MobRepairs ul,
#Shop ul {
	margin: 0;
	padding: 0;
}

#WebDev li, 
#CompRepairs li,
#MobRepairs li,
#Shop li {
	list-style-type: none;
	text-align: center;
}

#WebDev a, 
#CompRepairs a,
#MobRepairs a,
#Shop a {
	text-decoration: none;
}

/**********************
   SECTION: Web Dev
**********************/
#WebDev img,
#CompRepairs img,
#MobRepairs img,
#Shop img  {
	width: 100%;
	height: auto;
}

/**********************
   SECTION: Footer
**********************/
#footer {
	width: 100%;
	padding-bottom: 10px;
}